appdirs==1.4.4
backtrader==1.9.78.123
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.1.0
cryptography==41.0.1
cycler==0.11.0
distlib==0.3.6
docopt==0.6.2
filelock==3.12.2
fonttools==4.40.0
frozendict==2.3.8
html5lib==1.1
idna==3.4
jedi==0.17.2
kiwisolver==1.4.4
logger==1.4
lxml==4.9.2
matplotlib==3.7.1
multitasking==0.0.11
numpy==1.24.3
packaging==23.1
pandas==2.0.2
parso==0.7.1
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.5.3
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
QuantStats==0.0.59
requests==2.31.0
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
soupsieve==2.4.1
tabulate==0.9.0
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.0
webencodings==0.5.1
yarg==0.1.9
yfinance==0.2.20
